body {
  background-color: beige;
}

.main-box {
  width: 20%;
  margin-top: 200px;
  margin-left: 40%;
  border-color: white;
}

.button {
  margin: 5px 0 5px 0;
  width: 100%;
}
.info-label {
  color: blue;
}

.winning-label {
  color: green;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  border: 1px green solid;
}

.loosing-label {
  color: red;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  border: 1px red solid;
}
