body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.my-container {
  display: "flex";
  align-content: "ceneter";
  align-items: "center";
  width: 30%;
  margin-top: 10px;
  margin-left: 35%;
}
.my-page {
  margin-top: 25%;
  background-color: #f2daa5;
  height: 300px;
  width: 100%;
  padding: 15px;
  text-align: "center";
}
