body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gainsboro;
}

.my-container {
  background-color: whitesmoke;
  width: 50%;
  margin-left: 25%;
}
table {
  width: 100%;
}

th,
td {
  border: 1px black solid;
}
