body {
  background-color: aliceblue;
}

table {
  width: 100%;
  margin-top: 5px;
}
tr {
  border: 1px black solid;
}
th {
  border: 1px black solid;
  font-weight: bold;
  text-align: center;
  background-color: grey;
  color: white;
}
td {
  border: 1px black solid;
}
#banner {
  background-color: whitesmoke;
  margin: 1px;
}

#content {
  background-color: aqua;
}

#logo {
  width: 150px;
  height: 125px;
}

#sidebar {
  background-color: beige;
  height: 100vh;
}
#content {
  background-color: white;
  height: 100vh;
}
#footer {
  background-color: whitesmoke;
  margin: 1px;
  font-style: italic;
  align-items: center;
  align-content: center;
  text-align: center;
}
#newbutton {
  text-align: right;
}

#logout {
  background-color: rgb(57, 128, 189);
  color: white;
  display: flex;
  width: 30%;
  height: 300px;
  padding: 15px;
  border: 2px solid black;
  margin-top: 150px;
  margin-left: 35%;
}
.btn-login {
  width: 100%;
}
